.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-center {
    margin-top: 10%;
    /*background-color: #507E51;*/
    background-image: url(paperbgbutitschill.png);
}

.cover-heading {
    color: white;
}

h1 {
    font-size: 70px;
}

.lead {
    color: #66676E;
    margin-top: 5%;
}

.btn.btn-lg.btn-secondary {
    background-color: #61C988;
    border: none;
    width: 8em;
}

.btn.btn-lg.btn-secondary:hover {
    background-color: white;
    color: #61C988;
}

nav {
    top: 0;
    position: absolute;
    width: 98vw;
    justify-content: center;
}

.nav-link {
    color: #66676E;
    border-radius: 10px;
    margin: 2vh 2vw;
}

.nav-link:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

a {
    margin: 0;
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
    background-color: rgba(80, 126, 81, 1);
}

/*
ADAPTED FROM GABRIELE PETROLI
http://jsfiddle.net/gaby/9Ryvs/7/
*/
.coinAnimated {
    display: inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.coinImage {
    width: 30%;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
